<% include partials/header %>
  <section class="home" id="home">
    <div class="content">
      <h3><span> Create Event </span></h3>
    </div>
  </section>

  <section class="contact" id="contact">
    <form action="">
      <div class="inputBox">
        <input type="text" placeholder="name">
        <input type="email" placeholder="email">
      </div>
      <div class="inputBox">
        <input type="number" placeholder="number">
        <input type="text" placeholder="subject">
      </div>
      <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="Save Event" class="btn">
    </form>

  </section>

  <% include partials/footer %>
