<% include partials/header %>
  <section class="home" id="home">
    <div class="content">
      <h3><span> event management </span></h3>
      <h3>its time to celebrate!</span></h3>
      <a href="/events" class="btn">Show All Event</a>
    </div>
    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/slide-1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide-2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide-3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide-4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide-5.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide-6.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <h1 class="heading"><span>about</span> us </h1>
    <div class="row">
      <div class="image">
        <img src="/images/about-img.jpg" alt="">
      </div>
      <div class="content">
        <h3>we will give a very special celebration for you</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam labore fugiat ut esse perferendis
          perspiciatis provident dolores fuga in facilis culpa possimus, quia praesentium itaque, sapiente
          quasi harum rem asperiores.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero expedita incidunt provident
          quibusdam aut odit, numquam nesciunt similique nisi.</p>
        <a href="#" class="btn">contact us</a>
      </div>
    </div>
  </section>

  <section class="service" id="service">
    <h1 class="heading"> our <span>services</span> </h1>
    <div class="box-container">
      <div class="box">
        <i class="fas fa-envelope"></i>
        <h3>invitation card</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
      </div>
      <div class="box">
        <i class="fas fa-music"></i>
        <h3>entertainment</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
      </div>
      <div class="box">
        <i class="fas fa-utensils"></i>
        <h3>food and drinks</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
      </div>
      <div class="box">
        <i class="fas fa-photo-video"></i>
        <h3>photos and videos</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
      </div>
      <div class="box">
        <i class="fas fa-birthday-cake"></i>
        <h3>custom food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
      </div>
    </div>

  </section>





  <section class="gallery" id="gallery">
    <h1 class="heading">our <span>gallery</span></h1>
    <div class="box-container">
      <div class="box">
        <img src="/images/g-1.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-2.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-3.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-4.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-5.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-6.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-7.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-8.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="/images/g-9.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
      <div class="box">
        <img src="/images/g-6.jpg" alt="">
        <h3 class="title">photos and events</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>
    </div>

  </section>



  <section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <form action="">
      <div class="inputBox">
        <input type="text" placeholder="name">
        <input type="email" placeholder="email">
      </div>
      <div class="inputBox">
        <input type="number" placeholder="number">
        <input type="text" placeholder="subject">
      </div>
      <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="send message" class="btn">
    </form>

  </section>

  <% include partials/footer %>
