<% include partials/header %>
  <section class="home" id="home">
    <div class="content">
      <h3><span> Event Name </span></h3>
    </div>
  </section>

  <section class="contact" id="contact">

  </section>

  <% include partials/footer %>
